body {
    overflow-x: hidden;
}

.global-msg-box {
    position: fixed;
    top: 60px;
    left: 50%;
    z-index: 999999999;
    width: 45%;
    min-width: 300px;
    height: 80px;
    text-align: center;
    padding-top: 30px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 10px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.body {
    position: relative;
    left: 200px;
    transition: 0.3s;
}

.menu {
    position: fixed;
    z-index: 1;
    left: 0;
    height: 100%;
    width: 200px;
    background: #304156;
    transition: 0.3s;
    font-size: 16px;
    color: #ffffff;
}

.menu span {
    margin-right: 10px;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu ul li {
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
    border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}

.menu ul li div {
    transition: 0.3s;
    padding: 0 10px 0 10px;
}

.menu ul li div:hover {
    background: #223041;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
}

.glyphicon-menu-down {
    float: right;
    margin-right: 20px;
    margin-top: 13px;
    transition: 0.3s;
}

.secondaryMenu {
    display: none;
}

.secondaryMenu li {
    transition: 0.3s;
    padding: 0 10px 0 30px;
}

.secondaryMenu li:hover {
    background: #223041;
}

.menuControl {
    position: absolute;
    color: #ffffff;
    bottom: 20px;
    left: 10px;
}

.menuControl span {
    cursor: pointer;
    transition: 0.3s;
}

.header {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #515151;
    padding-left: 20px;
    border-bottom: 1px solid rgb(228, 228, 228);
    margin-bottom: 10px;
}