.menu-container {
    background: #ffffff;
    padding: 20px;
    border: 0.5px solid #dddddd;
}

.card {
    background: #ffffff;
    border: 0.5px solid #dddddd;
    padding: 20px;
    margin-bottom: 10px;
}
#tags .form-group{
    margin: 0;
}