{% extends 'adminBase.html.twig' %}
{% block title %}后台管理{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/public/static/css/admin/admin.css"/>
{% endblock %}
{% block body %}
    <div class="col-sm-12">
        Home
    </div>
{% endblock %}