<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <script src="/public/static/library/jquery-3.3.1.min.js"></script>
    <script src="/public/static/library/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/static/library/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/static/library/animate.css"/>
    <link rel="stylesheet" href="/public/static/css/admin/login.css"/>
    <title>登陆</title>
</head>
<body>
<div class="body">
    <div class="box">
        <h2>登陆</h2>
        <div class="form-group">
            <input class="form-control" type="text" id="username" placeholder="用户名">
        </div>
        <div class="input-group">
            <input class="form-control" type="password" id="password" placeholder="密码">
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-eye-close eye"></span>
                </span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" onclick="login(this)" style="float: right">登陆</button>
        </div>
    </div>
</div>
<div class="global-msg-box animated"></div>
<script>
    var t_for_global_msg_box;
    var t_for_global_msg_box_inside;

    function showMsg(msg, time = 1500) {
        var e = $('.global-msg-box');
        e.text(msg).show().addClass('fadeIn').removeClass('fadeOut');
        clearTimeout(t_for_global_msg_box);
        t_for_global_msg_box = setTimeout(function () {
            e.addClass('fadeOut').removeClass('fadeIn');
            clearTimeout(t_for_global_msg_box_inside);
            t_for_global_msg_box_inside = setTimeout(function () {
                e.hide()
            }, 300)
        }, time);
    }

    //密码框的显示按钮
    $('.eye').parent().hover(function () {
        $(this).find('span').removeClass('glyphicon-eye-close').addClass('glyphicon-eye-open');
        $(this).parent().find('input').attr('type', 'text')
    }, function () {
        $(this).find('span').removeClass('glyphicon-eye-open').addClass('glyphicon-eye-close');
        $(this).parent().find('input').attr('type', 'password')
    });

    var ele_username = $('#username');
    var ele_password = $('#password');
    ele_username.click(function () {
        ele_username.css('border', '1px solid #ccc')
    });
    ele_password.click(function () {
        ele_password.css('border', '1px solid #ccc')
    });

    function login(ele) {
        $(ele).attr('disabled', 'disabled').text('登陆中...');
        ele_username.css('border', '1px solid #ccc');
        ele_password.css('border', '1px solid #ccc');
        var username = ele_username.val();
        var password = ele_password.val();
        if (username === '' || username === null) {
            ele_username.css('border', '1px solid red');
            $(ele).removeAttr('disabled').text('重新登陆');
            return false;
        }
        if (password === '' || password === null) {
            ele_password.css('border', '1px solid red');
            $(ele).removeAttr('disabled').text('重新登陆');
            return false;
        }
        $.ajax({
            url: "/admin/apiLogin",
            type: "post",
            data: {
                "username": username,
                "password": password
            },
            success: function (ret) {
                ret = JSON.parse(ret);
                if (ret.state === '1') {
                    $(ele).text('登陆成功');
                    showMsg('登陆成功', 1000);
                    window.location.href = "/admin"
                } else {
                    showMsg(ret.msg, 1000);
                    switch (ret.state) {
                        case '101':
                            ele_username.css('border', '1px solid red');
                            break;
                        case '102':
                            ele_password.css('border', '1px solid red');
                    }
                    $(ele).removeAttr('disabled').text('重新登陆');
                }
            }
        })
    }
</script>
</body>
</html>